* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1e1e1e;
}

h {
    color: #e16666;
}

h1 {
    color: #e16666;
}

hr {
    border-color: #e16666;
    margin: 30px;
}

#scroll-bnt {
    font-size: 2rem;
    background-color: #e166665f;
    color: #ffffff;
    border-style: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 6px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.field {
    margin: 20px;
    position: relative;
    width: 1000px;
    height: 700px;
    background-color: #115814;
    overflow: hidden;
}

.ball {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    transition: left 0.2s, top 0.2s;
    left: 450px;
    top: 300px;
    will-change: left, top;
}

.clock {
    position: relative;
    width: 260px;
    height: 260px;
    background: white;
    border-radius: 50%;
}


.clock .hand {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    padding: 0;
    border: none;
    transform-origin: left center; 
}

.hour {
    width: 68px;
    height: 6px;
    background: #1e2a2e;
    margin-top: -3px;  
}

.minute {
    width: 100px;
    height: 4px;
    background: #2c3e3f;
    margin-top: -2px; 
}

.second {
    width: 110px;
    height: 2px;
    background: #d64545;
    margin-top: -1px;  
}